.project_container .projectbgtext{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-45%);
}

.project_container .projectbgtext h1{
    font-size: 200px;
    color: rgba(0, 20, 39, 0.217);
    font-family: 'Coolvetica';
    z-index: 1;
}
.projectTitle{
    font-size: 60px;
    font-family:'Coolvetica';
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
    margin-left: 50px;
    z-index: 2;
}
.projectWrapper{
display: flex;
height: 100%;
align-items: center;
justify-content: center;
z-index: 2;
}
.pojectimage{
    width: fit-content;
    margin-left: 100px;
    overflow: hidden;
}
.projectWrapper img{ 
    width: 450px;
    height: 400px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}
.projectWrapper img:hover{
    transform: scale(110%);
    cursor: pointer;
}
.project_right{
    width: 600px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
.project_right h1{
    font-size: 40px;
    color: #fff;
    font-family:'Coolvetica';
}
.project_right .description{
    font-size: 15px;
    color: #7a7a7a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: #fff;
    margin: 15px 0px 25px 0px;
}
.tech{
    display: flex;
    align-items: center;
}
.project_right .tech h2{
    font-size: 20px;
    color: #fff;
    font-family:'Coolvetica';
    margin: 0;
}
.tech h2 span{
    color: rgb(222, 222, 0);
}
.tech p{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: #d8d8d8;
    margin: 0;
    margin-left: 20px;
}
.githubLink{
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 20px;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #001a34;
    background-color: #001a34;
    transition: all .2s ease-in-out;
}
.githubLink:hover{
    background-color: #0d3053;
    border-color: #3e6892 ;
   
}
.githubLink:hover>.icon+p{
    color: #8fc7ff;
}
.githubLink .icon{
    font-size: 30px;
    color: #c7e3ff;
    margin-right: 10px;
    transition: all .2s ease-in-out;
}
.githubLink p{
    margin: 0;
    font-size: 17px;
    font-family:'Coolvetica';
    color: #c7e3ff;
    transition: all .2s ease-in-out;
}
