@media (576px <= width <= 767px) {
    .container{
        max-width: 100%;
        flex-direction: column-reverse;
    }
    .home_page .image{
        transform: translateX(60px);
        margin-top: 30px;
    }
    .home_page .image img{
        width: 300px !important;
        height: 200px;
        object-fit: cover;
    }
    .text_area{
        text-align: center;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .text_area h1{
        font-size: 38px !important;
    }
    .text_area h1 span{
        font-size: 25px;
    }
    .text_area .right h2 .skills{
        display: block;
    }
    .text_area .right h2{
        margin: 20px;
    }
    .text_area .right .contact-div{
        margin-top: 20px;
    }
    .home_page .bgtext h1{
        font-size: 120px !important;
    }
    .home_page .bgtext{
        top: 50% !important;
        transform: translateX(-40%) !important;
    }
  }

/* // Medium devices (tablets, 768px and up) */
@media (768px <= width <= 991px) {
    .container{
        max-width: 100%;
        flex-direction: column-reverse;
    }
    .home_page .image{
        transform: translateX(65px);
    }
    .home_page .image img{
        width: 600px !important;
        height: 280px;
        object-fit: cover;
    }
    .text_area{
        text-align: start;
        margin-top: 60px;
        display: flex;
    }
    .text_area .left{
        padding-right: 40px;
    }
    .text_area h1{
        font-size: 45px !important;
    }
    .text_area .right h2{
        margin: 0px;
    }
    .text_area h1 span{
        font-size: 25px;
    }
    .text_area h2 .skills{
        display: block;
    }
    .home_page .bgtext h1{
        font-size: 140px !important;
    }
    .home_page .bgtext{
        top: 50% !important;
        transform: translateX(-40%) !important;
    }
    .text_area .right .contact-div .contact-btn:hover{
        padding: 7px 35px;
    }
    .contact-div{
        display: flex;
        flex-direction: column;
    }
    .contact-div .contact-btn{
        margin-bottom: 10px;
        text-align: center;
        padding: 7px 35px;
      
    }
  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        flex-direction: row;
        justify-content: center;
        align-items: end;
        max-width: 100%;
    }

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        max-width: 100%;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container{
        max-width: 100%;
    }
  }


.container{
    width: 100%;
    height: 100%;
    min-height: 564px;
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .home_page .text_area{
    position: absolute;
    top: 50%;
    left: 140px;
    z-index: 1;
    transform: translateY(-50%);
} */
.text_area{
    color: #fff;
    font-family: 'Coolvetica';
    line-height: 32px;
    margin-left: 120px;
    z-index: 2;
}
.text_area span{
    font-size: 30px;
    color: rgb(255, 247, 0);
}
.text_area h1{
    font-size: 53px;
    font-weight: 300;
}
.text_area h2{
    color: #adadad;
    opacity: 50%;
    margin: 25px 0px 0px 3px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 3px;
}
.text_area .skills{
    display: inline;
    transition: all 0.3s ease;
}
.text_area .skills:hover{
    cursor:grab;
    opacity: 100%;
}
.text_area .first:hover{
    color: rgb(255, 136, 0);
}
.text_area .second:hover{
    color: rgb(255, 247, 0);
}
.text_area .third:hover{
    color: rgb(0, 255, 229);
}
.contact-btn{
    color: yellow;
    border: 2px solid yellow;
    padding: 12px 35px;
    font-size: 12px;
    margin:0;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.contact-btn:hover{
    background-color: yellow;
    color: black;
    padding: 12px 105px ;
}
.contact-div{
  margin: 30px 0px;
}
/* .home_page .image{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
} */
.home_page .image{
    margin-left: 40px;
    margin-right: 60px;
    z-index: 2;
}
.home_page .image img{
    width: 300px;
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 7px 8px 40px rgba(0, 0, 0, 0.505);
}
.home_page .image img:hover{
    box-shadow: 7px 7px 100px -5px rgba(188, 188, 188, 0.459);
    transform: skew(-5deg,-5deg);
}
.home_page .image .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.687);
    opacity: 0;
}
.home_page .image .overlay p{
    font-size: 30px;
    color: #fff;
    font-family: 'Coolvetica';
}
.home_page .image .overlay:hover{
    opacity: 100%;
}
.home_page .bgtext{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-45%);
}
.home_page .bgtext h1{
    font-size: 230px;
    color: rgba(0, 20, 39, 0.217);
    font-family: 'Coolvetica';
    z-index: 1;
}

